<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987521895711-7p0538eqqg7s6le2vfsb9p2emfotrnqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987521895711-7p0538eqqg7s6le2vfsb9p2emfotrnqj</string>
	<key>API_KEY</key>
	<string>AIzaSyBtc2DU0lOqhTyaOw4HT4wAmHMW2Bn4qYk</string>
	<key>GCM_SENDER_ID</key>
	<string>987521895711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monash.edu.whatsnext</string>
	<key>PROJECT_ID</key>
	<string>fit3178-whatsnext</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-whatsnext.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987521895711:ios:598f4fe83cb7c837aab42a</string>
</dict>
</plist>